/* color */
img {
  max-width: 100%;
  height: auto;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  height: auto;
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

input:focus {
  border: 2px solid #2c2c2c;
}

iframe {
  min-width: 100%;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[class*=container] {
  max-width: 1170px;
  box-sizing: content-box;
  margin: 0 auto;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* fonts */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("/fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* button */
/*menu */
.site-navigation-item:not(:nth-child(1)) a:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid #00ffd7;
}

.big-button {
  border-radius: 5px;
}

.big-button:hover {
  color: #00ffd7;
  background-color: #0a0a0a;
  border: 1px solid #00ffd7;
  transition: all 0.5s ease;
}

.promo-link:hover {
  box-shadow: 0 0 50px 10px rgba(0, 255, 215, 0.3);
}

.button {
  width: 55px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  border: none;
  border-block: 2px solid #0a0a0a;
}

.button-prev {
  margin-right: -4px;
  position: relative;
  background-image: url("/img/left-arrow.webp");
  border-left: 1px solid #0a0a0a;
}

.button-prev::after {
  content: "";
  width: 1px;
  height: 10px;
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #0a0a0a;
}

.button-next {
  background-image: url("/img/right-arrow.webp");
  border-right: 1px solid #0a0a0a;
}

.button:hover {
  background-color: rgba(0, 255, 215, 0.3);
  transition: all 0.5s ease;
}

/* page */
.page {
  height: 100%;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 20px;
  background-color: #ffffff;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  color: #2c2c2c;
  padding: 0;
}
@media (min-width: 768px) {
  .page__body {
    min-width: 768px;
  }
}

@media (min-width: 1170px) {
  .page-main {
    margin-inline: 41px 88px;
  }
}
.section-title {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 1.6px;
  font-weight: 900;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  margin-left: 185px;
  width: 75%;
  height: 1px;
  top: 50%;
  position: absolute;
  background-color: #0a0a0a;
}

/* header */
.main-header {
  max-width: 1170px;
  min-width: 767px;
  margin: 20px auto 11px;
  font-size: 10px;
}
@media (min-width: 1170px) {
  .main-header {
    min-width: 1170px;
  }
}

.main-nav-wrapper {
  display: flex;
  align-items: center;
}

.main-header-logo {
  align-self: end;
}

.site-navigation {
  margin-left: 66px;
  padding-bottom: 10px;
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 15px;
  text-transform: uppercase;
}

.site-navigation-link {
  font-size: 16px;
}

.main-header-phone {
  margin-left: auto;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.main-header-callback {
  margin-bottom: 10px;
  margin-left: 25px;
  padding: 10px 20px;
  min-width: 189px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  background-color: #00ffd7;
}

.promo {
  margin: 0 auto;
  margin-bottom: 97px;
  max-width: 1920px;
  min-height: 1065px;
  background-image: url("/img/promo-photo.webp");
  background-color: #0a0a0a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;
  color: #ffffff;
}

.promo-title {
  padding-top: 156px;
  font-size: 72px;
  line-height: 85px;
  font-weight: 900;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.promo-text {
  margin-bottom: 70px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
}

.promo-text span {
  color: #00ffd7;
}

.promo-link-wrapper {
  margin-bottom: 100px;
}

.promo-link {
  padding-block: 18px;
  padding-inline: 80px;
  width: 100px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.aqua-link {
  margin-right: 20px;
  background-color: #00ffd7;
  border: 1px solid #00ffd7;
}

.border-aqua-link {
  padding-inline: 50px;
  border: 1px solid #00ffd7;
  color: #ffffff;
}

.features {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  text-align: center;
}

.features-item {
  width: 230px;
  height: 306px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.features-item:nth-child(2n)::before {
  margin-top: auto;
}

.features-text {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.features-item::before {
  content: "";
  margin-top: 47px;
  width: 70px;
  height: 70px;
  background-image: url("/img/icons/like.svg");
  background-repeat: no-repeat;
  opacity: 0.6;
}

.features-item:nth-child(2)::before {
  background-image: url("/img/icons/services.svg");
}

.features-item:nth-child(3)::before {
  background-image: url("/img/icons/handshake.svg");
}

.features-item:nth-child(4)::before {
  background-image: url("/img/icons/russia.svg");
}

.features-item:nth-child(5)::before {
  background-image: url("/img/icons/settings.svg");
}

.services {
  margin-bottom: 38px;
  padding-bottom: 50px;
}

.services-header-wrapper {
  margin-bottom: 18px;
  padding-block: 15px;
  position: relative;
  overflow: hidden;
}

.services-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 34px;
  font-size: 13px;
  line-height: 16px;
}

.services-item {
  margin-bottom: 10px;
  padding-block: 26px;
  padding-inline: 35px 47px;
  width: 353px;
  min-height: 496px;
  box-shadow: 1px 1px 10px 1px rgba(10, 10, 10, 0.1);
}

.service-title {
  margin-bottom: 23px;
  font-size: 16px;
  text-transform: uppercase;
}

.service-item {
  margin-bottom: 15px;
}

.service-link:hover {
  border-bottom: 1px solid rgba(10, 10, 10, 0.1);
}

.projects {
  margin-bottom: 104px;
}

.projects-header-wrapper {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.projects-list {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}

.projects-item {
  position: relative;
}

.projects-item-content {
  position: absolute;
  top: 0;
  color: #ffffff;
}

.partners {
  margin-bottom: 125px;
}

.partners-header-wrapper {
  margin-bottom: 45px;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.partners-button-wrapper {
  padding-left: 47px;
  align-self: center;
  z-index: 1;
  background-color: #ffffff;
}

.partners-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

/* footer */
.main-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  background-color: #0a0a0a;
}

.main-footer-map {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.main-footer-content-wrapper {
  padding-block: 65px;
  width: 1170px;
  display: flex;
  color: #ffffff;
  border-top: 1px solid #00ffd7;
}
/*# sourceMappingURL=style.css.map */
