section.partners
  .container
    .partners-header-wrapper
      h2.section-title Партнеры
      .partners-button-wrapper
        button.button.button-prev(type='button')
          span.visually-hidden Предыдущие
        button.button.button-next(type='button')
          span.visually-hidden Следующие
    ul.partners-list
      li.partners-item
        a.partners-link(href='#')
          img(src='img/ava-logo.png' width='270' height='135' alt='Ava company')
      li.partners-item
        a.partners-link(href='#')
          img(src='img/mirror-logo.png' width='270' height='135' alt='Mirror business center')
      li.partners-item
        a.partners-link(href='#')
          img(src='img/shield-logo.png' width='270' height='135' alt='Shield охранное предприятие')
      li.partners-item
        a.partners-link(href='#')
          img(src='img/company-logo.png' width='270' height='135' alt='ЗАО НТФ ТеплоДомЭнерг')
