section.promo
  .container
    h2.promo-title Строительно-монтажные работы
    p.promo-text
      | Компания ЗАО «НCП «МонтCтрой» успешно работает на российском рынке с
      span  1992
      |  года,
      | #[br]и за это время зарекомендовала себя как ведущий разработчик качественных систем
      | #[br]установок для предприятий, выполняет полный комплекс строительно-монтажных
      | #[br]и пуско-наладочных работ по электроснабжению зданий и сооружений.
    .promo-link-wrapper
      a.promo-link.aqua-link.big-button(href='#services') Наши услуги
      a.promo-link.border-aqua-link.big-button(href='#') Связаться с нами
    ul.features
      li.features-item
        p.features-text Гарантированное высокое качество продукции
      li.features-item
        p.features-text Широкий спектр дополнительных услуг
      li.features-item
        p.features-text Исполнение всех #[br]сроков и обязательств
      li.features-item
        p.features-text Работа по всей территории Российской Федерации
      li.features-item
        p.features-text Собственная производственная база
