section.projects
  .container
    .projects-header-wrapper
      h2.section-title Проекты
    ul.projects-list
      li.projects-item
        img.projects-img(src='img/photo-23.jpg' width='290' height='290' alt='Стадион «Футур»')
        .projects-item-content
          h3.projects-title Стадион «Футур»
          p.projects-text
            | В целях обеспечения электроэнергией стадиона специалистами было осуществлено строительство распределительной сети мощностью 20кВ
          a.more-details(href='#')
            span.visually-hidden Подробнее
      li.projects-item
        img.projects-img(src='img/photo-43.jpg' width='290' height='290' alt='Бизнес-центр «Ореол»')
        .projects-item-content
          h3.projects-title Бизнес-центр «Ореол»
          p.projects-text
            | Специалисты провели масштабную работу по организации АСКУЭ на 694 точки учета комплекса с апартаментами
          a.more-details(href='#')
            span.visually-hidden Подробнее
      li.projects-item
        img.projects-img(src='img/photo-57.jpg' width='290' height='290' alt='Кинотеатр «Семейный»')
        .projects-item-content
          h3.projects-title Кинотеатр «Семейный»
          p.projects-text Специалисты выполнили комплекс работ по системам  учета электроэнергии
          a.more-details(href='#')
            span.visually-hidden Подробнее
      li.projects-item
        img.projects-img(src='img/photo-7.jpg' width='290' height='290' alt='ТК «Medial»')
        .projects-item-content
          h3.projects-title ТК «Medial»
          p.projects-text
            | В целях обеспечения электроэнергией телевизионного комплекса  было осуществлено строительство распределительной сети мощностью 20кВ
          a.more-details(href='#')
            span.visually-hidden Подробнее
      li.projects-item.projects-item-big
        img.projects-img(src='img/photo-44.jpg' width='583' height='290' alt='ОАО «ЭнергоНацКомпани»')
        .projects-item-content
          h3.projects-title ОАО «ЭнергоНацКомпани»
          p.projects-text
            | Компанией были выполнены строительно-монтажные и пусконаладочные работы, а также поставлены материалы и оборудование при осуществлении ремонта электросетевого имущества кабельных линий 220 кВ для ОАО «ЭнергоНацКомпани»
          a.more-details(href='#')
            span.visually-hidden Подробнее
      li.projects-item.projects-item-big
        img.projects-img(src='img/photo-17.jpg' width='583' height='290' alt='Театр «Буратино»')
        .projects-item-content
          h3.projects-title Театр «Буратино»
          p.projects-text
            | Специалистами  были проведены комплексные электро-монтажные и пуско-наладочные работы по механизации сценических подъемников в здании театра
          a.more-details(href='#')
            span.visually-hidden Подробнее
      li.projects-item
        img.projects-img(src='img/photo-13.jpg' width='387' height='290' alt='ГК «Металл +»')
        .projects-item-content
          h3.projects-title ГК «Металл +»
          p.projects-text
            | Было проведено обследование зданий и сооружений к проектной документации в рамках реализации реконструкции блока вспомогательных отделений для литья стали
          a.more-details(href='#')
            span.visually-hidden Подробнее
      li.projects-item
        img.projects-img(src='img/photo-4.jpg' width='387' height='290' alt='ТЦ «MegaPolis»')
        .projects-item-content
          h3.projects-title ТЦ «MegaPolis»
          p.projects-text
            | Был выполнен комплекс аудиторских услуг по экономическому обоснованию, расчету и утверждению пакета расчетных и обосновывающих материалов по тепловым сетям
          a.more-details(href='#')
            span.visually-hidden Подробнее
      li.projects-item
        img.projects-img(src='img/photo-87.jpg' width='387' height='290' alt='ТЭЦ №23-957')
        .projects-item-content
          h3.projects-title ТЭЦ №23-957
          p.projects-text
            | Специалистами компании были проведены энергетическое обследование и разработка энергетического паспорта, паспорта программы энергосбережения
          a.more-details(href='#')
            span.visually-hidden Подробнее
