mixin service-item(text, href='#')
  li.service-item
    a.service-link(href=href) #{text};

section.services
  .container
    .services-header-wrapper
      h2.section-title(id='services') Услуги
    ul.services-list

      li.services-item
        h3.service-title Проектирование
        ul.service-list
          +service-item('Предварительная разработка концепции;')
          +service-item('Установка систем энергоснабжения;')
          +service-item('Оформление задания на проектирование;')
          +service-item('Разработка всей рабочей и проектной документации;')
          +service-item('Окончательное согласование проекта энергоснабжения в органах гос.надзора;')
          +service-item('Обеспечение авторского надзора на протяжении всего строительства (контроль за соблюдением всех норм и проектных разработок)')

      li.services-item
        h3.service-title Инженерные изыскания
        ul.service-list
          li.service-item
            a.service-link(href='#') Инженерно-геодезические изыскания;
          li.service-item
            a.service-link(href='#') Инженерно-геофизические изыскания;
          li.service-item
            a.service-link(href='#') Инженерно-топографические изыскания;
          li.service-item
            a.service-link(href='#') Инженерно-геологические изыскания;
          li.service-item
            a.service-link(href='#')
              | Изыскания грунтовых строительных материалов (проведение опытных полевых работ и обследование земляных сооружений);
          li.service-item
            a.service-link(href='#')
              | Инженерно-экологические (полевые работы, а также лабораторные и камеральные работы);
          li.service-item
            a.service-link(href='#') Археологические;
          li.service-item
            a.service-link(href='#') Кадастровые и землеустроительные.
      li.services-item
        h3.service-title Строительно-монтажные работы
        ul.service-list
          li.service-item
            a.service-link(href='#')
              | Строительство и реконструкция подстанций до 500 кВ и распределительных устройств станций до 500 кВ;
          li.service-item
            a.service-link(href='#') Строительство распределительных пунктов;
          li.service-item
            a.service-link(href='#') Внедрение систем автоматизации управления оборудованием подстанций до 500 кВ;
          li.service-item
            a.service-link(href='#') Вынос действующих кабелей из строительной зоны;
          li.service-item
            a.service-link(href='#') Обеспечение временного электроснабжения;
          li.service-item
            a.service-link(href='#') Монтаж электрооборудования.
      li.services-item
        h3.service-title Эксплуатация и сервисное обслуживание
        ul.service-list
          li.service-item
            a.service-link(href='#')
              | Эксплуатация электрики зданий и энергоустановок, снабжающих энергией эксплуатируемые сооружения;
          li.service-item
            a.service-link(href='#')
              | Эксплуатация систем отопления объектов с проведением плановых сезонных мероприятий;
          li.service-item
            a.service-link(href='#') Эксплуатация систем ХВС и ГВС эксплуатируемого здания;
          li.service-item
            a.service-link(href='#')
              | Сервисное обслуживание и эксплуатация систем водоснабжения, водоподготовки и фильтрации в обслуживаемом здании;
          li.service-item
            a.service-link(href='#')
              | Обслуживание системы дренажа, канализации и ливнестоков: прочистка, промывка, вывоз отходов за территорию;
          li.service-item
            a.service-link(href='#')
              | Сезонная перенастройка автоматических элементов систем эксплуатации здания и другое.
      li.services-item
        h3.service-title Электролаборатория
        ul.service-list
          li.service-item
            a.service-link(href='#') Проверка состояния различных элементов устройств заземления;
          li
            a.service-link(href='#')
              | Проверка наличия цепи, проведение замеров сопротивлений (переходных) между заземляющими проводниками и заземлителями, проверку металлосвязи;
          li.service-item
            a.service-link(href='#') Проверка систем молниезащиты;
          li.service-item
            a.service-link(href='#')
              | Измерение сопротивления изоляции электрических кабелей, аппаратов, электропроводок и электрооборудования;
          li.service-item
            a.service-link(href='#') Измерение сопротивления заземления и заземляющих устройств;
          li.service-item
            a.service-link(href='#') Поиск кабельных трасс, мест повреждения и «прожиг кабеля»;
          li.service-item
            a.service-link(href='#')
              | Проведение всех необходимых испытаний и измерений для кабельных линий, включая кабель с изоляцией из сшитого полиэтилена до 220 кВ.
      li.services-item
        h3.service-title Услуги по технологическому присоединению
        ul.service-list
          li.service-item
            a.service-link(href='#')
              | Оказание технико-экономического консалтинга в составлении договора на технологическое присоединение мощности потребителя к сетям электросетевых компаний;
          li.service-item
            a.service-link(href='#')
              | Обследование присоединяемых устройств ответственным лицом по государственному надзору при участии сетевого оператора и собственника устройства;
          li.service-item
            a.service-link(href='#') Фактическое присоединение объектов заявителя к сетям оператора;
          li.service-item
            a.service-link(href='#')
              | Составление и согласование необходимой технической документации для ввода в эксплуатацию объекта;
          li.service-item
            a.service-link(href='#') Ввод присоединенного объекта в эксплуатацию.
