mixin services-item(title)
  li.services-item
    h3.service-title #{title}
    ul.service-list
      block

mixin service-item(text, href='#')
  li.service-item
    a.service-link(href=href) #{text};

section.services
  .container
    .services-header-wrapper
      h2.section-title(id='services') Услуги
    ul.services-list

      +services-item('Проектирование')
        +service-item('Предварительная разработка концепции;')
        +service-item('Установка систем энергоснабжения;')
        +service-item('Оформление задания на проектирование;')
        +service-item('Разработка всей рабочей и проектной документации;')
        +service-item('Окончательное согласование проекта энергоснабжения в органах гос.надзора;')
        +service-item('Обеспечение авторского надзора на протяжении всего строительства (контроль за соблюдением всех норм и проектных разработок)')

      +services-item('Инженерные изыскания')
        +service-item('Инженерно-геодезические изыскания;')
        +service-item('Инженерно-геофизические изыскания;')
        +service-item('Инженерно-топографические изыскания;')
        +service-item('Инженерно-геологические изыскания')
        +service-item('Изыскания грунтовых строительных материалов (проведение опытных полевых работ и обследование земляных сооружений);')
        +service-item('Инженерно-экологические (полевые работы, а также лабораторные и камеральные работы);')
        +service-item('Археологические;')
        +service-item('Кадастровые и землеустроительные.')

      +services-item('Строительно-монтажные работы')
        +service-item('Строительство и реконструкция подстанций до 500 кВ и распределительных устройств станций до 500 кВ;')
        +service-item('ИСтроительство распределительных пунктов;')
        +service-item('Внедрение систем автоматизации управления оборудованием подстанций до 500 кВ;')
        +service-item('Вынос действующих кабелей из строительной зоны;')
        +service-item('Обеспечение временного электроснабжения;')
        +service-item('Монтаж электрооборудования.')

      +services-item('Эксплуатация и сервисное обслуживание')
        +service-item('Эксплуатация электрики зданий и энергоустановок, снабжающих энергией эксплуатируемые сооружения;')
        +service-item('Эксплуатация систем отопления объектов с проведением плановых сезонных мероприятий;')
        +service-item('Эксплуатация систем ХВС и ГВС эксплуатируемого здания;')
        +service-item('Сервисное обслуживание и эксплуатация систем водоснабжения, водоподготовки и фильтрации в обслуживаемом здании;')
        +service-item('Обслуживание системы дренажа, канализации и ливнестоков: прочистка, промывка, вывоз отходов за территорию;')
        +service-item('Сезонная перенастройка автоматических элементов систем эксплуатации здания и другое.')

      +services-item('Электролаборатория')
        +service-item('Проверка состояния различных элементов устройств заземления;')
        +service-item('Проверка наличия цепи, проведение замеров сопротивлений (переходных) между заземляющими проводниками и заземлителями, проверку металлосвязи;')
        +service-item('Проверка систем молниезащиты;')
        +service-item('Измерение сопротивления изоляции электрических кабелей, аппаратов, электропроводок и электрооборудования;')
        +service-item('Измерение сопротивления заземления и заземляющих устройств;')
        +service-item('Поиск кабельных трасс, мест повреждения и «прожиг кабеля»;')
        +service-item('Проведение всех необходимых испытаний и измерений для кабельных линий, включая кабель с изоляцией из сшитого полиэтилена до 220 кВ.')

      +services-item('Услуги по технологическому присоединению')
        +service-item('Оказание технико-экономического консалтинга в составлении договора на технологическое присоединение мощности потребителя к сетям электросетевых компаний;')
        +service-item('Обследование присоединяемых устройств ответственным лицом по государственному надзору при участии сетевого оператора и собственника устройства;')
        +service-item('Фактическое присоединение объектов заявителя к сетям оператора;')
        +service-item('Составление и согласование необходимой технической документации для ввода в эксплуатацию объекта;')
        +service-item('Ввод присоединенного объекта в эксплуатацию.')
