footer.main-footer
  img.main-footer-map(src='img/map.png' width='1920' height='807' alt='Карта')
  .container
    .main-footer-content-wrapper
      .main-footer-column
        a.footer-logo
          img(src='img/logo.png' width='141' height='60' alt='Логотип сайта')
        p ЗАО «НCП «МонтCтрой»
        ul.social-list
          li.social-item
            a.social-link.social-link-vk(href='#')
              span.visually-hidden ВКонтакте
          li.social-item
            a.social-link.social-link-twitter(href='#')
              span.visually-hidden Twitter
          li.social-item
            a.social-link.social-link-facebook(href='#')
              span.visually-hidden Facebook
      .main-footer-column
        form.feedback-form(action='#' method='POST')
          h2.feedback-form-title Свяжитесь с нами
          .feedback-form-content
            .feedback-form-input-wrapper.width-half
              label(for='name') Имя
              input#name.feedback-form-input(type='text' name='name')
            .feedback-form-input-wrapper.width-half
              label(for='phone') Телефон
              input#phone.feedback-form-input(type='tel' name='phone')
            .feedback-form-input-wrapper.width-full
              label(for='email') E-mail
              input#email.feedback-form-input(type='email' name='email')
            .feedback-form-input-wrapper.width-full
              label(for='message') Сообщение
              input#message.feedback-form-input(type='text' name='message')
          .feedback-form-footer
            p Заполняя форму на сайте, вы соглашаетесь с нашей
            a(href='#') Политикой конфиденциальности
            button.feedback-form-button(type='submit') Отправить
        p.copyright 1992-2018 ©  ЗАО “НСП ”МонтСтрой”. Все права защищены
      .main-footer-column
        address.main-footer-address Варшавское шоссе, д, 118, к.1 Бизнес-центр «ВАРШАВКА Sky»
        a.main-footer-email(href='mailto:zao@montstroy.ru') zao@montstroy.ru
        a.main-footer-phone(href='tel:+74954526723') +7 (495) 452-67-23
        p.main-footer-working-hours Ежедневно с 9:00 до 18:00
