header.main-header
  nav.main-nav
    .container
      .main-nav-wrapper
        a.main-header-logo
          img(src='img/logo/logo.png' width='141' height='60' alt='Логотип сайта')
        ul.site-navigation
          li.site-navigation-item
            a.site-navigation-link Главная
          li.site-navigation-item
            a.site-navigation-link(href='#services') Услуги
          li.site-navigation-item
            a.site-navigation-link(href='#') Проекты
          li.site-navigation-item
            a.site-navigation-link(href='#') Партнеры
          li.site-navigation-item
            a.site-navigation-link(href='#') Контакты
        a.main-header-phone(href='tel:+74954526723') +7 (495) 452-67-23
        a.main-header-callback.big-button(href='#') Обратная связь
