//viewports
$min-width: 320px;
$tablet-width: 768px;
$desktop-width: 1170px;
$mobile-width-only: 767px;

//global
@import "_color";
@import "_global";
@import "_fonts";
@import "_button";

//blocks
@import "blocks/_page";
@import "blocks/_header";
@import "blocks/_promo";
@import "blocks/_services";
@import "blocks/_projects";
@import "blocks/_partners";
@import "blocks/_footer";
